@mixin font($size, $height) {
  font-size: $size;
  line-height: $height;
}

;


@mixin link-hover {
  transition: all 0.5s;

  &:hover {
    @content;
  }
}

;

@mixin hide-text {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

;